body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}
header {
	background-color: #4caf50;
	padding: 10px;
	text-align: center;
}
h1 {
	margin: 0;
	font-size: 24px;
	color: #fff;
}
main {
	padding: 20px;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.select-box {
	display: inline-block;
}
.select-box select {
	padding: 8px 38px 8px 10px;
	font-size: 16px;
	line-height: 1;
	border: none;
	border-radius: 5px;
	background-color: #e6e6e6;
	cursor: pointer;
}

.btn {
	display: inline-block;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.btn:hover {
	background-color: #3e8e41;
}

.btn-clear {
	background-color: white;
	border: 2px solid red;
	color: red;
}

.btn-clear.btn:hover {
	background-color: transparent;
}

.result {
	margin-top: 20px;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-align: center;
	font-size: 20px;
	color: #666;
}

@media only screen and (max-width: 600px) {
	header {
		padding: 20px;
	}
	h1 {
		font-size: 32px;
	}
	.container {
		max-width: 100%;
	}
	.select-box {
		margin-bottom: 10px;
	}
	.select-box select {
		width: 100%;
	}
}